@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base { 
	:root {
	  --Text-body: var(--Color-Neutral-800);
	  --Text-headings: var(--Color-Neutral-900);
	  --Text-action: var(--Primary-400);
	  --Text-action-hover: var(--Primary-600);
	  --Text-disabled: var(--DIsabled-400);
	  --Text-information: var(--Information-500);
	  --Text-success: var(--Success-500);
	  --Text-error: var(--Error-500);
	  --Text-warning: var(--Warning-500);
	  --Text-on-action: var(--Primary-100);
	  --Text-on-disabled: var(--Primary-600);
	  --Surface-page: var(--Color-Neutral-White);
	  --Surface-primary: var(--Color-Neutral-100);
	  --Surface-action: var(--Primary-500);
	  --Surface-action-hover: var(--Primary-700);
	  --Surface-disabled: var(--DIsabled-200);
	  --Surface-information: var(--Information-300);
	  --Surface-success: var(--Success-300);
	  --Surface-error: var(--Error-300);
	  --Surface-warning: var(--Warning-300);
	  --Surface-action-hover-2: var(--Primary-200);
	  --Color-Neutral-100: 251, 251, 251, 1;
	  --Color-Neutral-200: 234, 234, 235, 1;
	  --Color-Neutral-300: 170, 170, 176, 1;
	  --Color-Neutral-400: 141, 141, 149, 1;
	  --Color-Neutral-500: 113, 113, 123, 1;
	  --Color-Neutral-600: 90, 90, 98, 1;
	  --Color-Neutral-700: 68, 68, 74, 1;
	  --Color-Neutral-800: 25, 25, 27, 1;
	  --Color-Neutral-900: 3, 3, 3, 1;
	  --Color-Main-Mulberry-100: 226, 210, 216, 1;
	  --Color-Main-Mulberry-200: 207, 180, 190, 1;
	  --Color-Main-Mulberry-300: 158, 105, 124, 1;
	  --Color-Main-Mulberry-400: 134, 68, 92, 1;
	  --Color-Main-Mulberry-500: 110, 30, 59, 1;
	  --Color-Main-Mulberry-600: 92, 25, 49, 1;
	  --Color-Main-Mulberry-700: 73, 20, 39, 1;
	  --Color-Main-Mulberry-800: 55, 15, 30, 1;
	  --Color-Main-Mulberry-900: 37, 10, 20, 1;
	  --Color-Main-Saffron-100: 254, 248, 232, 1;
	  --Color-Main-Saffron-200: 253, 244, 216, 1;
	  --Color-Main-Saffron-300: 251, 232, 177, 1;
	  --Color-Main-Saffron-400: 250, 227, 157, 1;
	  --Color-Main-Saffron-500: 249, 221, 138, 1;
	  --Color-Main-Saffron-600: 207, 184, 115, 1;
	  --Color-Main-Saffron-700: 166, 147, 92, 1;
	  --Color-Main-Saffron-800: 125, 111, 69, 1;
	  --Color-Main-Saffron-900: 83, 74, 46, 1;
	  --Color-Main-Cobalt-100: 212, 220, 232, 1;
	  --Color-Main-Cobalt-200: 183, 196, 217, 1;
	  --Color-Main-Cobalt-300: 111, 138, 178, 1;
	  --Color-Main-Cobalt-400: 75, 108, 159, 1;
	  --Color-Main-Cobalt-500: 39, 79, 140, 1;
	  --Color-Main-Cobalt-600: 33, 66, 117, 1;
	  --Color-Main-Cobalt-700: 26, 53, 93, 1;
	  --Color-Main-Cobalt-800: 20, 40, 70, 1;
	  --Color-Main-Cobalt-900: 13, 26, 47, 1;
	  --Color-Accent-Citron-100: 244, 247, 224, 1;
	  --Color-Accent-Citron-200: 237, 242, 203, 1;
	  --Color-Accent-Citron-300: 219, 229, 151, 1;
	  --Color-Accent-Citron-400: 210, 222, 125, 1;
	  --Color-Accent-Citron-500: 201, 216, 99, 1;
	  --Color-Accent-Citron-600: 167, 180, 83, 1;
	  --Color-Accent-Citron-700: 134, 144, 66, 1;
	  --Color-Accent-Citron-800: 101, 108, 50, 1;
	  --Color-Accent-Citron-900: 67, 72, 33, 1;
	  --Color-Accent-Petal-100: 251, 239, 244, 1;
	  --Color-Accent-Petal-200: 248, 229, 237, 1;
	  --Color-Accent-Petal-300: 241, 202, 218, 1;
	  --Color-Accent-Petal-400: 237, 189, 209, 1;
	  --Color-Accent-Petal-500: 234, 176, 200, 1;
	  --Color-Accent-Petal-600: 195, 147, 167, 1;
	  --Color-Accent-Petal-700: 156, 117, 133, 1;
	  --Color-Accent-Petal-800: 117, 88, 100, 1;
	  --Color-Accent-Petal-900: 78, 59, 67, 1;
	  --Color-Accent-Amber-100: 247, 225, 219, 1;
	  --Color-Accent-Amber-200: 242, 205, 196, 1;
	  --Color-Accent-Amber-300: 228, 156, 136, 1;
	  --Color-Accent-Amber-400: 222, 131, 107, 1;
	  --Color-Accent-Amber-500: 215, 106, 77, 1;
	  --Color-Accent-Amber-600: 179, 88, 64, 1;
	  --Color-Accent-Amber-700: 143, 71, 51, 1;
	  --Color-Accent-Amber-800: 108, 53, 39, 1;
	  --Color-Accent-Amber-900: 72, 35, 26, 1;
	  --Color-Accent-Periwinkle-100: 237, 242, 249, 1;
	  --Color-Accent-Periwinkle-200: 225, 233, 245, 1;
	  --Color-Accent-Periwinkle-300: 195, 211, 235, 1;
	  --Color-Accent-Periwinkle-400: 180, 200, 230, 1;
	  --Color-Accent-Periwinkle-500: 165, 189, 225, 1;
	  --Color-Accent-Periwinkle-600: 137, 157, 187, 1;
	  --Color-Accent-Periwinkle-700: 110, 126, 150, 1;
	  --Color-Accent-Periwinkle-800: 83, 95, 113, 1;
	  --Color-Accent-Periwinkle-900: 55, 63, 75, 1;
	  --Color-Main-Evergreen-100: 212, 221, 217, 1;
	  --Color-Main-Evergreen-200: 183, 198, 191, 1;
	  --Color-Main-Evergreen-300: 110, 140, 127, 1;
	  --Color-Main-Evergreen-400: 74, 112, 95, 1;
	  --Color-Main-Evergreen-500: 38, 83, 63, 1;
	  --Color-Main-Evergreen-600: 32, 69, 53, 1;
	  --Color-Main-Evergreen-700: 25, 55, 42, 1;
	  --Color-Main-Evergreen-800: 19, 42, 32, 1;
	  --Color-Main-Evergreen-900: 13, 28, 21, 1;
	  --Color-Neutral-Black: 0, 0, 0, 1;
	  --Color-Neutral-White: 255, 255, 255, 1;
	  --Primary-100: var(--Color-Main-Mulberry-100);
	  --Primary-200: var(--Color-Main-Mulberry-200);
	  --Primary-300: var(--Color-Main-Mulberry-300);
	  --Primary-400: var(--Color-Main-Mulberry-400);
	  --Primary-500: var(--Color-Main-Mulberry-500);
	  --Primary-600: var(--Color-Main-Mulberry-600);
	  --Primary-700: var(--Color-Main-Mulberry-700);
	  --Primary-800: var(--Color-Main-Mulberry-800);
	  --Primary-900: var(--Color-Main-Mulberry-900);
	  --Secondary-100: var(--Color-Main-Cobalt-100);
	  --Secondary-200: var(--Color-Main-Cobalt-200);
	  --Secondary-300: var(--Color-Main-Cobalt-300);
	  --Secondary-400: var(--Color-Main-Cobalt-400);
	  --Secondary-500: var(--Color-Main-Cobalt-500);
	  --Secondary-600: var(--Color-Main-Cobalt-600);
	  --Secondary-700: var(--Color-Main-Cobalt-700);
	  --Secondary-800: var(--Color-Main-Cobalt-800);
	  --Secondary-900: var(--Color-Main-Cobalt-900);
	  --Tertiary-100: var(--Color-Accent-Amber-100);
	  --Tertiary-200: var(--Color-Accent-Amber-200);
	  --Tertiary-300: var(--Color-Accent-Amber-300);
	  --Tertiary-400: var(--Color-Accent-Amber-400);
	  --Tertiary-500: var(--Color-Accent-Amber-500);
	  --Tertiary-600: var(--Color-Accent-Amber-600);
	  --Tertiary-700: var(--Color-Accent-Amber-700);
	  --Tertiary-800: var(--Color-Accent-Amber-800);
	  --Tertiary-900: var(--Color-Accent-Amber-900);
	  --Error-300: 255, 205, 210, 1;
	  --Error-500: 229, 115, 115, 1;
	  --Error-700: 198, 40, 40, 1;
	  --Warning-300: 255, 224, 178, 1;
	  --Warning-500: 255, 183, 77, 1;
	  --Warning-700: 245, 124, 0, 1;
	  --Success-300: 200, 230, 201, 1;
	  --Success-500: 129, 199, 132, 1;
	  --Success-700: 56, 142, 60, 1;
	  --Information-300: 187, 222, 251, 1;
	  --Information-500: 100, 181, 246, 1;
	  --Information-700: 25, 118, 210, 1;
	  --Accent-Citron-100: var(--Color-Accent-Citron-100);
	  --Accent-Citron-200: var(--Color-Accent-Citron-200);
	  --Accent-Citron-300: var(--Color-Accent-Citron-300);
	  --Accent-Citron-400: var(--Color-Accent-Citron-400);
	  --Accent-Citron-500: var(--Color-Accent-Citron-500);
	  --Accent-Citron-600: var(--Color-Accent-Citron-600);
	  --Accent-Citron-700: var(--Color-Accent-Citron-700);
	  --Accent-Citron-800: var(--Color-Accent-Citron-800);
	  --Accent-Citron-900: var(--Color-Accent-Citron-900);
	  --Accent-Saffron-100: var(--Color-Main-Saffron-100);
	  --Accent-Saffron-200: var(--Color-Main-Saffron-200);
	  --Accent-Saffron-300: var(--Color-Main-Saffron-300);
	  --Accent-Saffron-400: var(--Color-Main-Saffron-400);
	  --Accent-Saffron-500: var(--Color-Main-Saffron-500);
	  --Accent-Saffron-600: var(--Color-Main-Saffron-600);
	  --Accent-Saffron-700: var(--Color-Main-Saffron-700);
	  --Accent-Saffron-800: var(--Color-Main-Saffron-800);
	  --Accent-Saffron-900: var(--Color-Main-Saffron-900);
	  --Accent-Petal-100: var(--Color-Accent-Petal-100);
	  --Accent-Petal-200: var(--Color-Accent-Petal-200);
	  --Accent-Petal-300: var(--Color-Accent-Petal-300);
	  --Accent-Petal-400: var(--Color-Accent-Petal-400);
	  --Accent-Petal-500: var(--Color-Accent-Petal-500);
	  --Accent-Petal-600: var(--Color-Accent-Petal-600);
	  --Accent-Petal-700: var(--Color-Accent-Petal-700);
	  --Accent-Petal-800: var(--Color-Accent-Petal-800);
	  --Accent-Petal-900: var(--Color-Accent-Petal-900);
	  --Accent-Periwinkle-100: var(--Color-Accent-Periwinkle-100);
	  --Accent-Periwinkle-200: var(--Color-Accent-Periwinkle-200);
	  --Accent-Periwinkle-300: var(--Color-Accent-Periwinkle-300);
	  --Accent-Periwinkle-400: var(--Color-Accent-Periwinkle-400);
	  --Accent-Periwinkle-500: var(--Color-Accent-Periwinkle-500);
	  --Accent-Periwinkle-600: var(--Color-Accent-Periwinkle-600);
	  --Accent-Periwinkle-700: var(--Color-Accent-Periwinkle-700);
	  --Accent-Periwinkle-800: var(--Color-Accent-Periwinkle-800);
	  --Accent-Periwinkle-900: var(--Color-Accent-Periwinkle-900);
	  --Evergreen-100: var(--Color-Main-Evergreen-100);
	  --Evergreen-200: var(--Color-Main-Evergreen-200);
	  --Evergreen-300: var(--Color-Main-Evergreen-300);
	  --Evergreen-400: var(--Color-Main-Evergreen-400);
	  --Evergreen-500: var(--Color-Main-Evergreen-500);
	  --Evergreen-600: var(--Color-Main-Evergreen-600);
	  --Evergreen-700: var(--Color-Main-Evergreen-700);
	  --Evergreen-800: var(--Color-Main-Evergreen-800);
	  --Evergreen-900: var(--Color-Main-Evergreen-900);
	  --DIsabled-100: var(--Color-Neutral-100);
	  --DIsabled-200: var(--Color-Neutral-200);
	  --DIsabled-300: var(--Color-Neutral-300);
	  --DIsabled-400: var(--Color-Neutral-400);
	  --DIsabled-500: var(--Color-Neutral-500);
	  --DIsabled-600: var(--Color-Neutral-600);
	  --DIsabled-700: var(--Color-Neutral-700);
	  --Border-primary: var(--DIsabled-500);
	  --Border-success: var(--Success-700);
	  --Border-warning: var(--Warning-700);
	  --Border-error: var(--Error-700);
	  --Border-info: var(--Information-700);
	  --Border-disabled: var(--DIsabled-200);
	  --Border-action: var(--Primary-400);
	  --Border-action-hover: var(--Primary-700);
	  --Border-focus: var(--Primary-300);
	  --Icon-Primary: var(--Color-Neutral-900);
	  --Icon-Information: var(--Information-700);
	  --Icon-error: var(--Error-700);
	  --Icon-warning: var(--Warning-700);
	  --Icon-success: var(--Success-700);
	  --Icon-action: var(--Primary-400);
	  --Icon-action-hover: var(--Primary-700);
	  --Icon-on-action: var(--Color-Neutral-100);
	  --Icon-on-action-hover: var(--Color-Main-Mulberry-100);
	}

 
}