:root {
  /* Colors */
  /* Base */
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-transparent: rgba(255, 255, 255, 0);

  /* Slate */
  --color-slate-50: rgba(248, 250, 252, 1);
  --color-slate-100: rgba(241, 245, 249, 1);
  --color-slate-200: rgba(226, 232, 240, 1);
  --color-slate-300: rgba(202, 213, 226, 1);
  --color-slate-400: rgba(144, 161, 185, 1);
  --color-slate-500: rgba(98, 116, 142, 1);
  --color-slate-600: rgba(69, 85, 108, 1);
  --color-slate-700: rgba(49, 65, 88, 1);
  --color-slate-800: rgba(29, 41, 61, 1);
  --color-slate-900: rgba(15, 23, 43, 1);
  --color-slate-950: rgba(2, 6, 24, 1);

  /* Stone */
  --color-stone-50: rgba(250, 250, 249, 1);
  --color-stone-100: rgba(245, 245, 244, 1);
  --color-stone-200: rgba(231, 229, 228, 1);
  --color-stone-300: rgba(214, 211, 209, 1);
  --color-stone-400: rgba(166, 160, 155, 1);
  --color-stone-500: rgba(121, 113, 107, 1);
  --color-stone-600: rgba(87, 83, 77, 1);
  --color-stone-700: rgba(68, 64, 59, 1);
  --color-stone-800: rgba(41, 37, 36, 1);
  --color-stone-900: rgba(28, 25, 23, 1);
  --color-stone-950: rgba(12, 10, 9, 1);

  /* Purple */
  --color-purple-50: rgba(218, 211, 221, 1);
  --color-purple-100: rgba(193, 181, 199, 1);
  --color-purple-200: rgba(162, 144, 171, 1);
  --color-purple-300: rgba(131, 107, 143, 1);
  --color-purple-400: rgba(100, 70, 115, 1);
  --color-purple-500: rgba(69, 33, 87, 1);
  --color-purple-600: rgba(58, 28, 73, 1);
  --color-purple-700: rgba(46, 22, 58, 1);
  --color-purple-800: rgba(35, 17, 44, 1);
  --color-purple-900: rgba(23, 11, 29, 1);
  --color-purple-950: rgba(14, 7, 17, 1);

  /* Typography */
  --font-family-new-spirit: "New Spirit";
  --font-family-satoshi: "Satoshi";
  --letter-spacing-normal: 0em;
}
